<link rel="stylesheet" href="/css/startpage.css">
<div class="container">
    <h1>Welcome to Habit Tracker</h1>
    <button id="startButton">Start</button>
</div>


<script src="/js/start.js"></script>